<%= render "shared/header" %>
<div class="back-image">
  <div class="create-main">
    <h2 class="f-create">フォルダを編集</h2>
                                              <%# foldersコントローラのupdateに飛ぶ %>
      <%= form_with model: @folder, url: folder_path(@folder.id), local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
          <div class="img-upload">
            <div class="bold-text">画像</div>
            <%= f.file_field :image, id:"item-image" %>
          </div>
          <div class="create-title">
            <div class="bold-text">フォルダ名</div>
            <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"Title" %>
          </div>

          <%= f.submit "変更する" ,class:"save-btn" %>
          <div class="d-contents">
            <%= link_to 'このフォルダを削除する', folder_path(@folder.id), method: :delete %>
          </div>
      <% end %>
                                        <%# foldersコントローラのdestroyにアクションに飛ぶ %>
  </div>
</div>