<div id="wrapper">
  <%= render "shared/header" %>
    <div class='main'>
      <div class='folders'>
        <ul class='folder-lists'>
          <%# 作成されたフォルダ一覧 %>
          <% @folders.each do |folder| %>
            <li class='lists'>
              <%# 作成したフォルダに飛んでいる = recordsコントローラのindex %>
              <%= link_to folder_records_path(folder.id), method: :get do %>
                <div class='folder-img'>
                <%= image_tag 'book7.png' , size: '280x300' %>
                  <div class='folder-name'>
                    <ul>
                        <li><%= image_tag folder.image, class: "create_folder-img" %></li>
                        <li class='name'><%= folder.name %></li>
                    </ul>
                  </div>
                </div>
              <% end %>
            </li>
          <% end %>

          <%# フォルダがない場合 %>
          <% if @folders.empty? %>
            <li class='first'>
              <%= image_tag 'book-19-240.png' %>
                <div class='first-info'>
                  <h3 class='introduction'>
                    Your recordsへようこそ！<br><br>
                    自分だけの記録を簡単に作成できるアプリケーションです。<br>
                    この画面では、あなたが作成したフォルダがリストに表示されます。<br><br>
                    下のボタンをクリックすると新規フォルダが作成できます。<br>
                    さっそくはじめましょう！
                  </h3>
                    <%= link_to new_folder_path do %>
                      <%= image_tag 'plus-circle-thin-64.png', class: "first-info-icon" %>
                    <% end %>
                </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%# フォルダがある場合の新規フォルダ作成ボタン %>
    <% if @folders.present? %>
      <%= link_to new_folder_path, class: 'create-btn' do %>
        <%= image_tag 'plus-circle-thin-64.png' , size: '185x50' ,class: "create-btn-icon" %>
      <% end %>
    <% end %>
</div>
