<div class="items-sell-contents">
  <div class="items-sell-header">
    <%= link_to 'Your records', "/" %>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
    </style>
  </div>
  <div class="items-sell-main">
    <h2 class="items-sell-title">フォルダを作成</h2>
    <%= form_with model: @folder, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <%# 見出し画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        フォルダの表紙画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <%# /見出し画像 %>
    <%# c %>
    <div class="new-items">
      <div class="weight-bold-text">
        フォルダ名
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"フォルダ名（必須 10文字まで)", maxlength:"10" %>
    </div>
    <%# /フォルダ名 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "保存する" ,class:"sell-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>
</div>
