<%= render "shared/header" %>
  <div class="back-image">
    <div class="create-main">
      <h2 class="f-create">フォルダを作成</h2>
        <%= form_with model: @folder, local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>

            <div class="img-upload">
              <ul>
                <li class="bold-text">フォルダの表紙画像</li>
                <li class="f-select"><%= f.file_field :image, id:"item-image" %></li>
              </ul>
            </div>

            <div class="create-title">
              <div class="bold-text">フォルダ名</div>
              <%= f.text_area :name, class:"title-text", id:"item-name", placeholder:"フォルダ名（必須 10文字まで)", maxlength:"10" %>
            </div>

            <div class="save-btn-contents"><%= f.submit "保存する" ,class:"save-btn" %></div>
        <% end %>
    </div>
  </div>
