<%= render "shared/header" %>
<div class="back-image">
  <div class="create-main">
      <h2 class="f-create">ファイルを作成</h2>
                                            <%# 作ったファイルの保存先 = recordsコントローラのcreateに飛ぶ %>
        <%= form_with model: [@folder, @record], url: folder_records_path(@folder.id), local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
            <div class="img-upload">
              <div class="bold-text">画像</div>
                <%= f.file_field :image, id:"item-image" %>
            </div>
            <div class="file-create-title">
              <div class="bold-text">タイトル</div>
                <%= f.text_area :title, class:"items-text", id:"item-name", placeholder:"Title" %>
            </div>
            <div class="file-create-caption">
              <div class="bold-text">キャプション</div>
                <%= f.text_area :caption, class:"items-text", id:"item-name", placeholder:"Caption", size: "300x10" %>
            </div>
            <%# 下部ボタン %>
            <div class="save-btn-contents"><%= f.submit "保存する" ,class:"save-btn" %></div>
        <% end %>
  </div>
</div>
